<!DOCTYPE html>
<html ng-app="app">

<head lang="<%= lang %>" dir="<%= lang_dir %>">
    <title>
        <%= gettext('Website title') %>
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../public/libs/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../public/libs/msdropdown/dd.css" />
    <link rel="stylesheet" type="text/css" href="../public/libs/msdropdown/flags.css" />

    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/panel.css">
    <link rel="stylesheet" href="../public/css/form-common.css">


</head>

<body class="main-background img-responsive" ng-controller="appController">
    <div class="message_banner sample-show-hide" ng-hide="hide_message_banner">
        <div class="text-right">
            <a href="" ng-click="server_message='';hide_message_banner=true" aria-label="Toggle ngHide"><i class="fa fa-close form-btn"></i></a>
        </div>
        <div class="message_banner_text">{{server_message}}</div>
    </div>
    <script id="navigation_header" type="text/template">
        <header class="navigation">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#verseTopNav" aria-expanded="false">
			        <span class="sr-only"><%= gettext('Toggle navigation') %></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
                        <a class="navbar-brand" href="#">
                            <%= gettext('Website title') %>
                        </a>
                    </div>
                    <ul id="verseTopNav" class="nav navbar-nav navbar-right main-menu navbar-collapse collapse">
                        <li>
                            <a href="/">
                                <%= gettext('HOME') %>
                            </a>
                        </li>
                        <li><a href="#">|</a></li>
                        <li ng-hide="isJudgeLogin">
                            <a href="/login">
                                <%= gettext('LOGIN') %>
                            </a>
                        </li>
                        <li ng-click="logout()" ng-show="isJudgeLogin">
                            <a href="#">
                                <%= gettext('LOGOUT') %>
                            </a>
                        </li>
                        <li>
                            <select name="countries" id="countries" style="margin-top:8%;width:110%;" ng-change="changeLocale(loc)" ng-model="loc">
                                    <option value='ar' data-image="../public/libs/msdropdown/blank.gif" data-imagecss="flag ae" data-title="United Arab Emirates" >U.A.E</option>
                                    
                                    <option value='en_US' data-image="../public/libs/msdropdown/blank.gif" data-imagecss="flag us" data-title="United States">US</option>
                                </select>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </script>

    <div ng-controller="loginController">
        <script id="ngView" type="text/template">
            <!-- First  -->
            <section class="form-container landing-content">
                <div class="clearfix text-center">
                    <div class="col-md-6 col-md-offset-3 time-section">
                        <div class="clearfix">
                            <div class="col-xs-12">
                                <div class="text-right">
                                    <a href="/"><i class="fa fa-close form-btn"></i></a>
                                </div>

                                <h2 class="text-center">
                                    <%= gettext('CONFIRM PASSWORD head') %>
                                </h2>
                                <form name="userForm" class="form" ng-submit="resetPassword()" novalidate>
                                    <div class="clearfix">
                                        <div class="col-xs-10 col-xs-offset-1">
                                            <div class="form-group text-left" ng-class="{ 'has-error': userForm.user_token.$touched && userForm.user_token.$invalid }">

                                                <label for="user_token"><%= gettext('Enter Validation Code lbl') %> *</label>
                                                <input class="form-control" name="user_token" type='text' placeholder="<%= gettext('Enter Name txt') %>" ng-model="token" required/>

                                                <div class="help-block" ng-messages="userForm.user_token.$error" ng-if="userForm.user_token.$touched">
                                                    <p ng-message="required">
                                                        <%= gettext('Your token is required.') %>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group text-left" ng-class="{ 'has-error': userForm.user_password.$touched && userForm.user_password.$invalid }">

                                                <label for="user_password"><%= gettext('Enter new password lbl') %> *</label>
                                                <input class="form-control" name="user_password" ng-model="userPassword" ng-minlength="5" type='password' placeholder="<%= gettext('Enter Password txt') %>" required/>

                                                <div class="help-block" ng-messages="userForm.user_password.$error" ng-if="userForm.user_password.$touched">
                                                    <p ng-message="minlength">
                                                        <%= gettext('Your password is too short.') %>
                                                    </p>
                                                    <p ng-message="required">
                                                        <%= gettext('Your password is required.') %>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group text-left" ng-class="{ 'has-error': userForm.user_confirm_password.$touched && userForm.user_confirm_password.$invalid }">

                                                <label for="user_confirm_password"><%= gettext('Confirm password') %> *</label>
                                                <input class="form-control" name="user_confirm_password" ng-model="confirmUserPassword" ng-minlength="5" type='password' placeholder="<%= gettext('Confirm password btn') %>" required/>
                                                <div class="help-block" ng-messages="userForm.user_confirm_password.$error" ng-if="userForm.user_confirm_password.$touched">
                                                    <p ng-message="minlength">
                                                        <%= gettext('Your password is too short.') %>
                                                    </p>
                                                    <p ng-message="required">
                                                        <%= gettext('Your password is required.') %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <div class="col-xs-12">
                                                    <div class="p-t">
                                                        <button ng-disabled="userForm.$invalid" type="submit" name="login" class="btn-primary btn-sm"><%= gettext('CHANGE PASSWORD') %></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>


                </div>
    </div>
    </section>

    </script>
    </div>
</body>

<script type="text/javascript" src="../public/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../public/libs/msdropdown/jquery.dd.min.js"></script>

<script type="text/javascript" src="../public/libs/ejs.js"></script>
<script type="text/javascript" src="../public/libs/angular.min.js"></script>
<script type="text/javascript" src="../public/libs/angular-route.min.js"></script>
<script type="text/javascript" src="../public/libs/angular-messages.js"></script>

<script type="text/javascript" src="../client/app.js"></script>

<script type="text/javascript" src="../client/controllers/loginController.js"></script>

<script type="text/javascript" src="../client/services/localizationService.js"></script>
<script type="text/javascript" src="../client/services/authService.js"></script>
<script type="text/javascript" src="../client/services/userService.js"></script>
<script type="text/javascript" src="../client/services/stanzaService.js"></script>

</html>