.form-container .time-section {
    background: rgba(60, 37, 3, .6);
    margin-top: 80px;
    padding: 10px 10px 60px;
}

.form-control {
    color: #fff;
}

.btn-primary,
.btn-primary:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 3px 0px;
    width: 70%;
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
}

.landing-content {
    padding: 20px 20px 50px;
}


/*submit-form*/

.form-btn {
    color: #ffffff;
    font-size: 18px;
}

p.submit-note {
    margin-top: 0px;
    margin-bottom: 0px
}

p.note-submit {
    margin-bottom: 0px;
}

p.submit-note,
p.note-submit {
    font-size: 14px;
}

.p-r {
    padding-right: 0px;
}

.p-l {
    padding-left: 0px;
}

.input-group,
.p-t {
    padding-top: 20px;
}

.form-container .form-control {
    background-color: rgba(236, 192, 88, 0.5);
    border: none;
}

.form-container .form-control:focus {
    box-shadow: none;
}

.has-error .help-block{
    color: #FF8224;
}

.time-section h3,
.time-section h2 {
    color: #ffffff;
}

.form-container .form-group {
    margin: 15px 0;
}

.form-container .form-group input {
    height: 40px;
    margin: 5px 0;
    border-radius: 0;
}

.color,
.color:hover {
    color: #ffffff;
    text-decoration: underline;
}

.custom-control {
    background-color: #E8E3B9;
}

.btn-sm-main:active:hover,
.btn-sm-main:active,
button.btn-primary.btn-sm:active {
    color: #AE8851;
    background-color: #432E0F;
    border: 1px solid black;
}

button[disabled],
html input[disabled],
html input[disabled]:hover,
button[disabled]:hover,
button[disabled].btn-primary.btn-sm:hover,
button[disabled].btn-primary.btn-sm:focus,
button[disabled].btn-sm-main:focus,
button[disabled].btn-sm-main:hover {
    cursor: not-allowed;
    background-color: rgba(236, 192, 88, 0.5);
}

input {
    background-color: #583C14;
}

button.btn-primary.btn-sm:hover,
button.btn-primary.btn-sm:focus,
.btn-sm-main:focus,
.btn-sm-main:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
    border-color: white;
    outline: none;
}

.nav-dots {
    margin: 0 1.5% 0 1.5%;
}

.btn-search {
    padding: 2px;
    /*padding-top: 0px 6px 1px 6px;*/
    margin: 0px;
}

.btn-search:hover {
    cursor: pointer;
}

#search-input {
    margin: 0;
}

.search-form {
    padding-top: 1%;
}

.form-control::-webkit-input-placeholder {
    color: #FFF;
}

.form-control::-moz-placeholder {
    color: #FFF;
}

.form-control::-o-input-placeholder {
    color: #FFF;
}

.form-control::-ms-input-placeholder {
    color: #FFF;
}


/***for iphone 5 & 5s****/

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .btn-primary,
    .btn-primary:hover {
        width: 80%;
        padding: 10px;
    }
}


/*end*/