body {
    font-family: "lato";
    color: #ffffff;
}

.increase-arabic-font {
    font-size: 17px;
}

.increase-arabic-font .help-block {
    font-size: 15px;
}

.increase-arabic-font .right-section,
.increase-arabic-font .navbar-right.flip {
    margin-left: 0;
}

.increase-arabic-font .panel-carousel-indicators {
    left: 160px;
}

h1,
h2,
h3 {
    color: white;
}


/*scrolling header*/

.scroll-div li>a,
.scroll-div .navbar-brand {
    color: white;
}

.scroll-div li>a:active,
.scroll-div li>a:focus,
.scroll-div li>a:hover,
.scroll-div li.active {
    color: white;
    background-color: #BA861F
}

.scroll-div {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    top: 0;
    background-color: rgba(60, 37, 3, 0.8) !important;
}

.scroll-div .division,
.scroll-div .division-tabs {
    top: 8px;
}

.logo-wrapper {
    float: left;
}

.right-section {
    margin-left: 100px;
    overflow: hidden;
}

.right-section .nav.navbar-right {
    margin-right: 0px;
}

.navs-list-wrapper ul.nav.navbar.nav {
    float: left;
}

.navs-list-wrapper .division-dots {
    float: left;
    width: 300px;
    padding: 9px 0;
}

.scroll-div .division-dots {
    top: 32px;
}

.scroll-div .panel-container {
    padding-right: 15px;
}

.main-background {
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.index-container .landing-content {
    padding: 30px 0px 0px;
}

.index-container {
    min-height: 350px;
    margin-top: 4%;
}

li>a.nav-separator {
    padding: 14px 0px;
}

.index-container .time-section {
    padding: 20px;
    background: rgba(60, 37, 3, .3);
}

.index-container .time-section p {
    margin: 20px 0px 10px;
}

.navbar-default {
    background-color: transparent;
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a,
.time-section h2 {
    color: #ffffff;
}

.btn {
    padding: 15px 12px 7px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background: transparent;
    border: none;
    margin-top: 0px;
}

.btn-primary,
.btn-primary:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 3px 0px;
    width: 70%;
    font-size: 18px;
    padding: 15px;
    color: #ffffff;
}

.btn-home-sticky {
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px 0px;
    margin-right: 20px;
    font-size: 18px;
    padding: 8px;
    color: #ffffff;
}

.home-submit-btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 3px 0px;
    width: 50%;
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
}


/*language dropdown*/

.dd .ddTitle .ddTitleText {
    padding: 7px;
}

.dd .ddTitle {
    color: white;
    background: transparent url(title-bg.gif) repeat-x left top;
}

.dd {
    cursor: pointer;
}

.dd .divider {
    border: none;
}

.ddcommon .shadow {
    box-shadow: none;
}

.dd .arrow {
    background: none;
}

.dd .ddChild li {
    padding: 5px 7px;
}

.dd,
.dd .ddChild li .ddlabel,
.dd .ddChild,
.dd .ddChild li,
.dd .ddChild li.hover,
.dd .ddChild li.selected {
    border: none;
    color: white;
    background: rgba(60, 37, 3, 0.8);
    left: 0;
}


/*timer*/

.styled div p {
    font-size: 38px;
    display: inline;
    padding: 0 8px;
}

.styled div span {
    border-top: 0 !important;
}


/*stanza arae start*/

li.active,
li.active a {
    color: white !important;
}

.poem-bg {
    background-image: url(../images/PoemBg.jpg);
    /*max-height: 1400px;*/
    /*min-height: 600px;*/
    /*overflow-y: auto;*/
    padding: 0px 0px 50px;
}

.inner-container {
    padding-top: 30px;
}

.inner-container h2,
.inner-container p {
    color: #3c2603;
}

.stanza-starts p {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.hover-display {
    opacity: 0;
}

.home-container:hover,
.search-btn {
    background-color: #D1C988;
    cursor: text;
    color: black;
}

.home-container:hover .hover-display {
    opacity: 1;
}

#countries {
    width: 110%;
}

.navigation li.drop-down {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
}

.navigation li.drop-down .ddcommon {
    width: 0px;
}


/*end*/


/*timer*/

.styled div {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    text-align: right;
}


/* IE7 inline-block hack */

*+html .styled div {
    display: inline;
    zoom: 1;
}

.styled div:first-child {
    margin-left: 0;
}

.styled div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}

.message_banner {
    text-align: center;
    position: fixed;
    height: 81px;
    width: 100%;
    z-index: 100000000000000;
    background: rgba(60, 37, 3, .6);
    padding: 12px;
    transition: all 0.5s ease-in-out;
}

.right-section {
    padding-top: 9px;
}

.panel-carousel-indicators {
    bottom: -4px;
}

.right-section .panel-container .slider {
    padding: 0;
    width: 300px;
}


/***for iphone 5 & 5s****/

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .scroll-div {
        height: 130px;
    }
    .on-mobile {
        text-align: center;
    }
    .scroll-div .panel-container {
        padding-right: 0px;
    }
    .iphone-panel-height {
        height: 280px;
    }
    .right-section {
        margin-left: 0px;
        overflow: none;
        margin-top: 50px;
    }
    .division-tabs li.active,
    .division-tabs li {
        padding-left: 10px;
    }
    .division-dots li {
        padding-left: 0px;
    }
    .right-section .panel-container .carousel-indicators {
        text-align: center;
        bottom: 40px;
    }
    .fa.fa-circle-o-notch.fa-spin {
        left: 37%;
    }
    .btn-home-sticky {
        margin-right: 0px;
    }
    li a.nav-separator {
        display: none;
    }
    .navs-list-wrapper .division-dots {
        padding: 0px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    .right-section {
        margin-top: 0px;
    }
    .right-section .panel-container .carousel-indicators {
        bottom: 10px;
    }
    .scroll-div {
        height: 70px;
    }
}


/***/


/*iphone 6 & 6s*/

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .navs-list-wrapper .division-dots {
        width: 470px;
    }
    .right-section .panel-container .carousel-indicators {
        text-align: center;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
    .right-section .nav.navbar-right {
        text-align: right;
    }
    .panel-carousel-indicators {
        bottom: 10px;
    }
    .navs-list-wrapper .division-dots {
        padding: 0px;
    }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
    .panel-carousel-indicators {
        bottom: 8px;
    }
    .right-section .nav.navbar-right {
        text-align: right;
    }
}


/*for ipad*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .btn-home-sticky {
        font-size: 14px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .scroll-div {
        height: 60px;
    }
    .carousel-indicators {
        bottom: 15px;
    }
    .header-indicator {
        position: static;
    }
    .scroll-div .header-indicator-container {
        padding-right: 0px;
    }
    .header-indicator-container .slider {
        padding: 0px;
        position: absolute;
        float: right;
        top: -29px;
        left: 330px;
        bottom: -80px;
    }
    .right-section .panel-container .carousel-indicators {
        position: static;
        margin: 0 15px;
        width: auto;
        text-align: left;
    }
    .scroll-div .division-dots {
        top: 32px;
        padding-top: 7px;
        padding-left: 80px;
    }
    .right-section {
        padding-top: 0px;
    }
    .navs-list-wrapper .division-dots {
        width: 362px;
    }
    .navs-list-wrapper .panel-division-dots {
        width: 200px;
    }
    .fa.fa-circle-o-notch.fa-spin {
        left: 47%;
    }
    .panel-division-dots .slider {
        padding-left: 230px;
    }
    .dd .ddTitle .ddTitleText,
    .dd .ddChild li {
        padding: 6px;
    }
    .increase-arabic-font .header-indicator-container .slider {
        left: 0;
    }
    .increase-arabic-font .panel-division-dots .panel-container .slider {
        padding-left: 110px;
    }
    .increase-arabic-font .panel-carousel-indicators {
        left: 121px;
    }
}

@media only screen and (min-width: 1024px) {
    .navs-list-wrapper .division-dots {
        width: 48%;
    }
    .fa.fa-circle-o-notch.fa-spin {
        left: 47%;
    }
    .header-indicator-container .slider {
        padding: 0px;
        position: absolute;
        float: right;
        top: -29px;
        left: 455px;
    }
}

@media screen and (min-width: 768px) {
    .header-indicator {
        bottom: -80px;
    }
}


/*loading spinner + 404 page*/

.fa.fa-circle-o-notch.fa-spin {
    font-size: 90px;
    color: rgba(60, 37, 3, 0.8);
    position: fixed;
    top: 50%;
    z-index: 30;
}

.not_found_section {
    text-align: center;
    font-size: larger;
    padding: 19%;
}


/*end*/