<div>
    <script id="ngView" type="text/template">
        <div class="clearfix">
            <div class="col-md-offset-2 col-md-8">
                <section ng-if="lang!='ar'" class="about-section">
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                What is the initiative?
                            </h2>
                            <p>                        
                                «People Write a King's Poem» ..
                                
                                A national initiative and a sense of loyalty and loyalty from the people of the Kingdom to the Custodian of the Two Holy Mosques King Salman bin Abdulaziz (may Allah protect him)..
                                
                                And is committed to managing, marketing and promoting all its products through all traditional media (visual, audiovisual, readable), digital and smart phone applications..
                                
                                The idea of ​​the gesture was based on the writing of His Royal Highness Prince Badr bin Abdulmohsen, the first house of poetry in the Custodian of the Two Holy Mosques, and then opened the way for all the Saudi people to match this poetic house to underline an integrated poetic epic according to the terms and technical specifications adopted and revised and arranged by a distinguished jury The national poets and media, based on strict and strict control standards .. and then link and output in multiple art templates and launch them to be innovative initiative for the first time in the history of people and a pure expression of honest cohesion of leadership and the people.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                Objectives of the Initiative
                            </h2>
                            <ul>
                                <li>
                                    Delivering a letter of loyalty and loyalty to the Custodian of the Two Holy Mosques King Salman (may Allah protect him)
                                </li>
                                <li>
                                    Provide a message to the whole world about the cohesion of the leadership and the Saudi people
                                </li>
                                <li>
                                    Introduce an innovative and historical literary initiative and enter the Guinness Book of Records
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                Participation mechanism                        
                            </h2>
                            <ol>
                                <li>
                                    &nbsp;&nbsp;Visit the official website of the initiative
                                </li>
                                <li>
                                    &nbsp;&nbsp;Click on the submit Posts icon
                                </li>
                                <li>
                                    &nbsp;&nbsp;Fill in personal data and contact number
                                </li>
                                <li>
                                    &nbsp;&nbsp;Writing the poetic house
                                </li>
                                <li>
                                    &nbsp;&nbsp;Sending the participation
                                </li>
                            </ol>
                            <p>
                                After her leave from the jury, the house is included in the poem
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-md-12">
                            <h2>
                                Terms and Conditions
                            </h2>
                            <ul>
                                <li>
                                    <h4>
                                        Policy
                                    </h4>
                                    <ul>
                                        <li>
                                            Commitment to national policies in Saudi Arabia and the regulations in force in the country.
                                        </li>
                                        <li>
                                            Commitment to religious and moral values ​​in everything written and published in the accounts, publications and coverage of the initiative.                                    
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        Technical Specifications
                                    </h4>
                                    <ul>
                                        <li>
                                            Adherence to the technical standards of the principles involved in the initiative (weight - rhyme - meaning safety - originality).
                                        </li>
                                        <li>
                                            It begins to allow repetition of parentheses after the hundredth house according to precise criteria determined by the jury, and an approved voting mechanism to sort the participating verses.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        Transparency and Integrity
                                    </h4>
                                    <ul>
                                        <li>
                                            Adopting the criteria of transparency and fairness in the arbitration of the participating houses and preventing all means of influencing the jury through strict technical controls and arbitration mechanism. 
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        Communication and Publication                            
                                    </h4>
                                    <ul>
                                        <li>
                                            Direct posting to any of the accounts assigned to the Initiative is strictly prohibited and any participation that does not pass through the Jury will be excluded through the application for participation in the Initiative.
                                        </li>
                                        <li>
                                            Participation in the Initiative is free, and we are not responsible for any invitation or offer to participate through any account other than the official accounts advertised through official channels. We do not accept any legal or moral liability for any participation that does not comply with what has been announced.
                                        </li>
                                        <li>
                                            Completion of the participant's data (House of Poetry - National Identity - Telephone Number) is the basis for acceptance of any participation. Any participation that does not comply with the officially approved application form will be excluded.
                                        </li>
                                        <li>
                                            It is prohibited to share one person more than one house of poetry.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        Intellectual property rights
                                    </h4>
                                    <ul>
                                        <li>
                                            We shall not be responsible for the thefts of literature received through the application for the initiative, and any violation will be seized and excluded by the jury, and are committed to provide them if detected or alert them to provide the necessary documents to the competent authorities when requested.
                                        </li>
                                        <li>
                                            The participating verses are the right of the executing company for the initiative and it is entitled to dispose of them according to the vision of the company without reference to its owner, while preserving the literary right of the author of the participation.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                Competition Awards
                            </h2>
                            <p>
                                First Winner: The prize amount is SR 100,000
                            </p>
                            <p>
                                The second winner: The amount of the prize is SR 75,000
                            </p>
                            <p>
                                Third Winner: The prize amount is SR 50,000
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="clearfix margin-t15">
                            <div class="col-xs-12">
                                <h2>
                                    First House Poet
                                </h2>
                                <div>
                                    His Royal Highness Prince Badr bin Abdul Mohsen
                                </div>
                            </div>
                            <div class="col-md-12">
                                <img class="img img-responsive" src="/public/images/suleman.png" alt="<%= gettext('prince-title') %>"/>
                            </div>
                        </div>
                        <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                Judgement committee
                            </h2>
                            <div>
                                <div class="col-md-12">
                                    <img class="img img-responsive home-info-section-img" src="/public/images/judesNew.png" alt="<%= gettext('judges-title') %>"/>
                                </div>
                            </div>
                            <ol>
                                <li>
                                    &nbsp;&nbsp;Poet and journalist, D. Mohammed Ali Al Harbi
                                </li>
                                <li>
                                    &nbsp;&nbsp;Poet, novelist and critic, Awwad Shaher al - Osaimi
                                </li>
                                <li>
                                    &nbsp;&nbsp;Poet and writer, Abdullah Nasser Al - Otaibi
                                </li>
                                <li>
                                    &nbsp;&nbsp;The writer and journalist, Bader Ibrahim Ghanmi
                                </li>
                            </ol>
                    </div>
                        </div>
                </section>
                
                <section ng-if="lang=='ar'" dir="rtl" class="about-section">
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                ماهي المبادرة؟
                            </h2>
                            <p>                        
                                «شعب يكتب قصيدة ملك» ..مبادرة وطنية ولمسة وفاء وولاء من شعب المملكة لخادم الحرمين الشريفين الملك سلمان بن عبدالعزيز  (حفظه الله)..تتقدم بها شركة «ميدياكال» وتلتزم بإدارتها وتسويقها وترويجها بكل منتجاتها عبر كافة وسائل الإعلام التقليدية (المرئية، المسموعة، المقروءة» والرقمية وتطبيقات الهواتف الذكية ..وبنيت فكرة البادرة على كتابة صاحب السمو الملكي الأمير بدر بن عبدالمحسن  البيت الأول من الشعر  في خادم الحرمين الشريفين ومن ثم فتح المجال لكافة الشعب السعودي لمجاراة هذا البيت الشعري لتسطير  ملحمة شعرية متكاملة، وفق الشروط والمواصفات الفنية المعتمدة وتنقيحها وترتيبها من قبل لجنة تحكيم معتبرة من كبار الشعراء والإعلاميين الوطنيون، استناداً إلى معايير  رقابية دقيقة ومشددة.. ومن ثم ربطها وإخراجها في قوالب فنية متعددة وإطلاقها لتكون مبادرة مبتكرة لأول مرة في تاريخ الشعوب وتعبيراً نقياً صادقاً عن تلاحم القيادة والشعب.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                اهداف المبادرة
                            </h2>
                            <ul>
                                <li>
                                    تقديم رسالة وفاء وولاء لخادم الحرمين الشريفين الملك سلمان (حفظه الله)
                                </li>
                                <li>
                                    تقديم رسالة للعالم أجمع عن تلاحم القيادة والشعب السعودي
                                </li>
                                <li>
                                    تقديم مبادرة أدبية مبتكرة وتاريخية والدخول بها موسوعة جينيس للأرقام القياسية
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                الية المشاركة
                            </h2>
                            <ol class="arabic-list-style">
                                <li>
                                    &nbsp;&nbsp;زيارة الموقع الاليكتروني الرسمي للمبادرة
                                </li>
                                <li>
                                    &nbsp;&nbsp;النقر على أيقونة تسجيل المشاركات
                                </li>
                                <li>
                                    &nbsp;&nbsp;تعبئة البيانات الشخصية ورقم الاتصال
                                </li>
                                <li>
                                    &nbsp;&nbsp;كتابة البيت الشعري
                                </li>
                                <li>
                                    &nbsp;&nbsp;ارسال المشاركة
                                </li>
                            </ol>
                            <p>
                                بعد اجازتها من لجنة التحكيم يدرج البيت في القصيدة
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-md-12">
                            <h2>
                                الشروط والأحكام
                            </h2>
                            <ul>
                                <li>
                                    <h4>
                                        السياسات العامة
                                    </h4>
                                    <ul>
                                        <li>
                                            الالتزام بالسياسات الوطنية في المملكة العربية السعودية والأنظمة المرعية في البلاد.
                                        </li>
                                        <li>
                                            الالتزام بالقيم الدينية والأخلاقية في كل ما يكتب وينشر في الحسابات والمطبوعات والتغطيات الخاصة بالمبادرة.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        المواصفات الفنية
                                    </h4>
                                    <ul>
                                        <li>
                                            الالتزام بالمعايير الفنية للأبيات المشاركة في المبادرة (الوزن – القافية – سلامة المعنى - الأصالة). 
                                        </li>
                                        <li>
                                            يبدأ السماح بتكرار قوافي الأبيات بعد البيت المئة وفق معايير دقيقة تحددها لجنة التحكيم، وآلية تصويت معتمدة لفرز الأبيات المشاركة.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        الشفافية والنزاهة
                                    </h4>
                                    <ul>
                                        <li>
                                            إعتماد معايير الشفافية والنزاهة في تحكيم الأبيات المشاركة ومنع كل سبل التأثير على لجنة التحكيم من خلال الضوابط التقنية المشددة وألية التحكيم.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        التواصل والنشر
                                    </h4>
                                    <ul>
                                        <li>
                                            يمنع منعاً باتاً النشر المباشر على أيٍ من الحسابات المخصصة للمبادرة، وستستثنى أي مشاركة لا تمر عبر لجنة التحكيم من خلال التطبيق المخصص للمشاركة في المبادرة.
                                        </li>
                                        <li>
                                            المشاركة في المبادرة مجانية، ولسنا مسؤولين عن أي دعوة أو عرض للمشاركة من خلال أي حساب غير الحسابات الرسمية المعلن عنها عبر القنوات الرسمية، ولا نتحمل أي مسؤولية قانونية أو أدبية عن أي مشاركة لا تلتزم ما تم الإعلان عنه.
                                        </li>
                                        <li>
                                            استكمال بيانات المشارك (البيت الشعري – الهوية الوطنية – رقم الهاتف) أساس لقبول أي مشاركة وستستثنى أي مشاركة لا تلتزم بتعبئة نموذج التطبيق المعتمد رسمياً للمشاركة.
                                        </li>
                                        <li>
                                            يمنع مشاركة الشخص الواحد بأكثر من بيت شعري واحد.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>
                                        حقوق الملكية الفكرية
                                    </h4>
                                    <ul>
                                        <li>
                                            لسنا مسؤلون عن السرقات الأدبية التي ترد عبر التطبيق المخصص للمبادرة، وسيتم ضبط أي مخالفة واستبعادها من قبل لجنة التحكيم، وملتزمون بتقديمها حال اكتشافها أو التنبيه عليها بتقديم الوثائق اللازمة للجهات المختصة حال طلبها.
                                        </li>
                                        <li>
                                            الأبيات المشاركة حق للشركة المنفذة للمبادرة ويحق لها التصرف بها وفق رؤية الشركة دون الرجوع لصاحبها، مع حفظ الحق الأدبي لكاتب المشاركة
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                جوائز المسابقة
                            </h2>
                            <p>
                                الفائز الأول :مقدار الجائزة 100,000 ريال
                            </p>
                            <p>
                                الفائز الثاني : مقدار الجائزة 75,000 ريال
                            </p>
                            <p>
                                الفائز الثالث : مقدار الجائزة 50,000 ريال
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-t15">
                        <div class="clearfix margin-t15">
                            <div class="col-xs-12">
                                <h2>
                                    شاعر البيت الأول
                                </h2>
                                <div>
                                    صاحب السمو الملكي الامير بدر بن عبدالمحسن
                                </div>
                            </div>
                            <div class="col-md-12">
                                <img class="img img-responsive" src="/public/images/suleman.png" alt="<%= gettext('prince-title') %>"/>
                            </div>
                        </div>
                        <div class="clearfix margin-t15">
                        <div class="col-xs-12">
                            <h2>
                                لجنة التحكيم
                            </h2>
                            <div>
                                <div class="col-md-12">
                                    <img class="img img-responsive home-info-section-img" src="/public/images/judesNew.png" alt="<%= gettext('judges-title') %>"/>
                                </div>
                            </div>

                            <ol class="arabic-list-style">
                                <li>
                                    &nbsp;&nbsp; الشاعر  والصحافي د. محمد علي الحربي
                                </li>
                                <li>
                                    &nbsp;&nbsp;, الشاعر  والروائي والناقد عواض شاهر العصيمي
                                </li>
                                <li>
                                    &nbsp;&nbsp;الشاعر  والكاتب عبدالله ناصر العتيبي
                                </li>
                                <li>
                                    &nbsp;&nbsp;الكاتب والصحافي بدر  إبراهيم الغانمي
                                </li>
                            </ol>
                    </div>
                        </div>
                </section>
            </div>
        </div>
    </script>
</div>