<script id="navigation_header" type="text/template">
    <div class="message_banner sample-show-hide" ng-hide="hide_message_banner">
        <div class="text-right flip">
            <a href="" ng-click="server_message='';hide_message_banner=true" aria-label="Toggle ngHide"><i class="fa fa-close form-btn"></i></a>
        </div>
        <div class="message_banner_text">{{server_message}}</div>
    </div>

    <header class="navigation ">
        <nav class="navbar navbar-default" ng-class="{header_on_scroll: boolChangeHeaderClass}">
            <div class="container-fluid">
                <div class="navbar-header flip">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#verseTopNav" aria-expanded="false">
                        <span class="sr-only">
                            <%= gettext("Toggle navigation") %>
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class=" navbar-brand" href="/">
                        <img src="/public/images/Logo_White (2).png" alt="<%= gettext('Website title') %>"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="verseTopNav">
                    <ul class="nav navbar-nav navbar-right main-menu breadcrumbs flip">
                        <li ng-if="!location.includes('home')" ng-class="{active: location.includes('home')}">
                            <a href="/">
                                <%= gettext("HOME") %>
                            </a>
                        </li>
                        <li ng-if="location.includes('home') && isJudgeLogin" ng-class="{active: location.includes('panel')}">
                            <a href="/panel">
                                <%= gettext("PANEL") %>
                            </a>
                        </li>
                        <li ng-if=""><a href="#" class="nav-separator">|</a></li>
                        <li ng-if="!isJudgeLogin && !location.includes('login')" ng-class="{active: location.includes('login')}">
                            <a href="/login">
                                <%= gettext("LOGIN") %>
                            </a>
                        </li>
                        <li ng-click="logout()" ng-show="isJudgeLogin">
                            <a href="#">
                                <%= gettext("LOGOUT") %>
                            </a>
                        </li>
                        <li><a href="#" class="nav-separator">|</a></li>
                        <li class="drop-down"><select name="countries" id="countries" onchange="changeLocale(value)" style="width: 80px"><option value="ar" data-image="public/libs/msdropdown/blank.gif" data-imagecss="flag sa" ><%= gettext("U.A.E") %></option><option value="en" data-image="public/libs/msdropdown/blank.gif" data-imagecss="flag us"><%= gettext("US") %></option></select></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix scroll-div" ng-if="location.includes('home') || location.includes('panel')" ng-show="boolShowStaticHeader" ng-class="{'iphone-panel-height': location.includes('panel') }">

            <div class="dots-wr">
                <div class="clearfix slider">
                    <pagination-directive />
                </div>

            </div>

            <div class="left-side">
                <div class="logo-wrapper division">
                    <a class=" navbar-brand" href="/" ng-show="lang!='ar'">
                    <img src="/public/images/Logo_White (2).png" alt="<%= gettext('Website title') %>"/>        
                </a>
                    <a href="/submit" ng-show="lang=='ar'">
                        <button type="button" class="btn-sm-main btn-home-sticky">
                      <%= gettext("SUBMIT NOW") %>
                    </button>
                    </a>
                </div>
            </div>

            <div class="right-side">
                <div class="logo-wrapper division">

                    <a class=" navbar-brand" href="/" ng-show="lang=='ar'">
                        <img src="/public/images/Logo_White (2).png" alt="<%= gettext('Website title') %>"/>
                  </a>
                    <a href="/submit" ng-show="lang!='ar'">
                        <button type="button" class="btn-sm-main btn-home-sticky">
                      <%= gettext("SUBMIT NOW") %>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </header>



    <div class="clearfix text-center" ng-if="how_loading_spinner">
      <div class="loader">
          <i class="fa fa-circle-o-notch fa-spin"></i>
      </div>

    </div>
</script>

<div ng-transclude></div>