<div>
    <script id="ngView" type="text/template">
        <section class="index-container">
            <section class="landing-content">
                <div class="clearfix text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="time-section">
                            <h2><b> <%= gettext('motivational quote') %></b></h2>
                            <a href="/submit">
                                <button type="button" class=" home-submit-btn"><%= gettext('SUBMIT NOW') %></button>
                            </a>
                            <p><strong><%= gettext('Time Remaining For Submission') %></strong></p>
                            <div class="countdown styled"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-poem">
                <div class="clearfix text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <div class=" poem-bg">
                            <div class="inner-container">
                                <h2><strong><%= gettext('All verses') %></strong></h2>
                                <p>{{no_of_submissions.toLocaleString(lang)}} &nbsp;&nbsp;
                                    <%= gettext('Verse Submitted') %>
                                </p>
                            </div>
                            <div class="panel-container">
                                <div class="clearfix slider">
                                    <div class="col-xs-12 text-center">
                                        <br>
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                            <div class="carousel">
                                                <ol class="carousel-indicators">
                                                    <li class="next-prev-icon" ng-click="get_stanzas_from_navigation($event, 'pre')">
                                                        <i class="fa fa-angle-left"></i>
                                                    </li>
                                                    <% for(var i=0; i < no_of_submissions; i+=50) { %>
                                                        <li class="nav-dots" ng-class="{active:(current_page.level*50) == <%= i%>}" ng-click="get_stanzas_from_navigation($event,  <%= i%>)" class="top" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="{{(<%= i%>).toLocaleString(lang)}} - {{(<%= i%>+50).toLocaleString(lang)}}"></li>
                                                        <% } %>

                                                            <li class="next-prev-icon" ng-click="get_stanzas_from_navigation($event, 'next')">
                                                                <i class="fa fa-angle-right"></i>
                                                            </li>

                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix edit-bg home-container" ng-repeat="stanza in published_stanzas;">
                                <div class="col-xs-2 hover-display ">
                                    <h5 class="text-centre "><strong>{{stanza.submitter_name}}</strong></h5>
                                </div>
                                <div class="col-xs-8">
                                    <div class="stanza-starts clearfix ">
                                        <div class="col-xs-6">
                                            <p class="pull-right">{{stanza.stanza_text.split('\n')[0]}}</p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="pull-left">{{stanza.stanza_text.split('\n')[1]}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 hover-display ">
                                    <h5 class="text-centre "><strong>{{(pagination_level+$index+1).toLocaleString(lang)}}</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </script>
</div>