<div>
    <script id="ngView" type="text/template">

     <section class="index-container">
            <section>
                <div class="clearfix text-center">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="time-section">
                            <div class="clearfix for-static-stanza">
                                <div class="col-sm-6 pull-right">
                                    <h2>
                                        <b>
                                            الجنون عيون وعيونك وطن
                                        </b>
                                    </h2>
                                </div>
                                <div class="col-sm-6 pull-left">
                                    <h2>
                                        <b>
                                            والوطن من غير عينك وش يكون
                                        </b>
                                    </h2>
                                </div>
                            </div>
                            <div ng-show="!submissions_closed">
                                <a href="/submit">
                                    <button type="button" class="btn-sm-main home-submit-btn"><%= gettext('SUBMIT NOW') %></button>
                                </a>
                                <p><strong><%= gettext('Time Remaining For Submission') %></strong></p>
                                <div class="countdown styled"></div>
                            </div>
                            <div ng-if="submissions_closed">
                                <p><strong><%= gettext('submissions close message') %></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-poem">
                <div class="clearfix text-center">
                    <div class="col-md-2 hidden-xs">
                        <div class="logos-part">
                            <ul>
                                <li>
                                    <img class="img-size-reduce" src="/public/images/companylogo2.png"   />
                                </li>
                                <li>
                                    <img class="img-size-reduce" src="/public/images/companylogo3.png"   />
                                </li>
                                <li>
                                    <img class="img-size-reduce" src="/public/images/companylogo1.png"   />
                                </li>
                                <li>
                                    <img class="img-size-reduce" src="/public/images/companylogo5.png"   />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class=" poem-bg">
                            <div class="inner-container">
                                <h2><strong><%= gettext('All verses') %></strong></h2>
                                <p>{{no_of_submissions.toLocaleString(lang)}} &nbsp;&nbsp;
                                    <%= gettext('Verses published') %>
                                </p>
                            </div>
                            <div class="panel-container">
                                <div class="clearfix slider">
                                    <div class="col-sm-12 text-center">
                                        <pagination-directive />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix edit-bg home-container" ng-repeat="stanza in published_stanzas;">
                                <div class="col-sm-2 hover-display ">
                                    <h5 class="text-centre "><strong>{{stanza.submitter_name}}</strong></h5>
                                </div>
                                <div class="col-sm-8">
                                    <div class="stanza-starts clearfix ">
                                        <div class="pull-right col-sm-6">
                                            <p>{{stanza.stanza_text.split('\n')[0]}}</p>
                                        </div>
                                        <div class="pull-left col-sm-6">
                                            <p>{{stanza.stanza_text.split('\n')[1]}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 hover-display ">
                                    <h5 class="text-centre "><strong>{{(published_stanzas_page.level*100+$index+1).toLocaleString(lang)}}</strong></h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs">
                        <img src="/public/images/kingnew.png">
                    </div>
                </div>
            </section>
        </section>
    </script>
</div>