<div id="pagination_template_container" ng-show="no_of_submissions > 100">
    <script type="text/template" id="pagination_template">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel">
                <ol class="panel-carousel-indicators carousel-indicators">
                    <li class="next-prev-icon" ng-click="get_stanzas_from_navigation($event, 'pre')">
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <% 
                    var offset=Math.ceil(no_of_submissions/1000)*100;
                    for(var i=0;  i < no_of_submissions; i+=offset) { %>
                        <li class="nav-dots" ng-class="{active:(current_page.level*<%= offset %>) == <%= i%>}" ng-click="get_stanzas_from_navigation($event,  <%= i%>)" class="top" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="{{ (<%= i %>).toLocaleString(lang) }} - {{ (<%= i+offset %>).toLocaleString(lang) }}">
                        </li>

                        <% } %>

                            <li class="next-prev-icon" ng-click="get_stanzas_from_navigation($event, 'next')">
                                <i class="fa fa-angle-right"></i>
                            </li>
                </ol>
            </div>
        </div>
    </script>
</div>